.animal {
    width: 200px;
    border: solid rgb(138, 52, 21) 5px;
    margin: 5px;
    width: 220px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(138, 52, 21, 0.445);
    margin-bottom: 40px;
}

img {
    height: 100px;
}

p {
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 30px;
    color: rgb(57, 21, 8);
}